# Copyright 2026 the jaxrs-twirp authors
# SPDX-License-Identifier: Apache-2.0

target/
build/
*.iml
.idea/
.vscode/
.DS_Store
.classpath
.project
.settings/
dependency-reduced-pom.xml

# Generated sources should NOT be committed
**/generated-sources/
